body {
    margin: 0;
}

.logo {
    display: flex;
    justify-content: center;
    height: 200px;
    background-color: black;
}

.logo-pic img {
    width: 100px;
    height: 200px;
}

.menu-btn {
    display: flex;
    justify-content: center;
    background-color: #F4F6F7;
    padding: 8px 0;
}

.menu-list {
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    border: none;
    padding: 0 8px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    padding: 10px;

}

.product-list {
    border:  1px solid #ECF0F1;
    text-align: center;
    background-color: #F4F6F7;
    padding: 10px;
}

.btn-buy {
    color: white;
    cursor: pointer;
    border: none;
    padding: 8px 16px;
    background-color: #088EFA;
}

.btn-buy:hover {
    background-color: #1264A5;
}

.btn-detail {
    cursor: pointer;
    border: none;
    padding: 8px 16px;
    background-color: #EBEDEF;
}


img {
    width: 180px;
    height: 200px;
    object-fit: cover;
}

h3 {
    font-weight: bolder;
}

footer {
    display: flex;
    background-color: black ;
    justify-content: center;
}

p {
    color: white;
    padding: 3px;
}